/*estilo deficit*/

.valor-deficit{ /*mensaje que aparece al calcular el valor del deficit*/
    padding-top: 12px;
    font-size: 25px;
    text-align: center;
    color: #1a635f;
}
.recomendacion{ /*estilo cuando en el cmb selecciona NUNCA*/
    padding-top: 12px;
    font-size: 25px;
    text-align: center;
    color: red;
}

/*Mensajes*/
label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin: 10px;
    padding-top: 10px;
}

input.error {
    border: 1px solid red;
    font-weight: 300;
    color: red;
}

[type="submit"], [type="reset"], button, html [type="button"] {
    margin-left: 0;
    border-radius: 0;
    background: black;
    color: white;
    border: none;
    font-weight: 300;
    padding: 10px 0;
    line-height: 1;
}
/*estilo radio*/
.row input[type="radio"]{
    display: none;
}
.custom-control-label{
    color: #1a635f;
    padding: 5px 15px 5px 51px;
    display: inline-block;
    position: relative;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.custom-control-label:hover{
    background-color: #1a635f3d;
    display: inline-flex;
}
.custom-control-label:before{
    content: "";
    height: 17px;
    width: 17px;
    display: inline-block;
    border: 3px solid #1a635f;
    border-radius: 50%;
    position: absolute;
    left: 17px;
}
.row input[type="radio"]:checked + label{
    padding: 5px 15px;
    background-color: #1a635f;
    color: white;
    border-radius: 2px;

}
.row input[type="radio"]:checked + label:before{
    display: none;
}
    
.row{
    display: flex;
    padding: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.form-control.required{/*color cajas de numeros*/
    color: #1a635f;
}
.form-group{ /*color label*/
    color: lightseagreen;;
}
.btn.btn-outline-primary{/*estilo boton*/
    margin-top: 40px;
    color: lightseagreen;
    border-color: lightseagreen;
}
.btn.btn-outline-primary:hover{
    background: #1a635f;
    color: white;
}