body {
    background-image: url("../../static/images/COVID-19-GYM-6-scaled.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Montserrat';
    /* src: url('../font/Montserrat-Regular.ttf'); */
}

.general-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    box-shadow: 0px 0px 150px 2px #000000;
}

header {
    display: flex;
    flex-direction: column;
}

/* ----------------------------------------------------------  estadisticas covid-19*/
.estadisticas-covid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    width: 100%;

}

.no-registro {
    text-align: center;
    color: #999999;
    font-size: 20px;
}

.contenedor-covid {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-covid h2{
    /* text-align: center; */
    border-bottom: 3px solid red;
    padding-bottom: 20px;
    /* width: 50%; */
}

.cont-estadis {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid lightseagreen;
    margin: 15px;
    padding: 20px;
    box-shadow: 0px 7px 15px rgba(100, 100, 100, .25);
    text-align: center;
}

#cmb-covid {
    margin: 10px;
}
/* ------------------------------------------------------------ */


.pagina-actual {
    background-color: lightseagreen;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
}

.titulo-principal {
    font-weight: bolder;
    width: 30%;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-principal h1 {
    padding: 0px;
    color: white;
}

.menu-y-titulo {
    display: flex;
    padding-right: 15px;
    background-color: #242b2ecc;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 5px solid lightseagreen;
}

/* -------------------------------------------------------------------- login  */
.login-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    width: 250px;
    height: 100px;
    padding: auto;
}


.boton {
    padding: 5px 10px;
    width: 120px;
    margin: 5px;
    text-decoration: none;
    color: #20b2aa;
    text-align: center;
    border-radius: 5px;
}

.primario {
    background-color: #20b2aa;
    color: white;
}

.primario:hover {
    background-color: #1a8d87;
    color: white;
    box-shadow: 0 2px 5px #826653c2;
}

.secundario:hover {
    border: 1px solid #20b2aa;
    color: whitesmoke;
}


.menu-principal-container {
    width: 60%;
    padding-top: 70px;
}

.menu-items-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #2e373ba2;
    text-align: center;
    text-decoration: none;
    align-items: center;
    border: 1px solid #3e4b50b0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 0px;
}

.menu-items-container a {
    text-decoration: none;
    font-weight: normal;
    color: white;
    width: 100%;
    padding: 10px;
}

.not-pagina-actual:hover {
    color: lightseagreen;
}

.carousel-control-next:hover {
    background-color: rgba(32, 178, 171, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.carousel-control-prev:hover {
    background-color: rgba(32, 178, 171, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.menu-secundario-container {
    display: flex;
    background-color: #242b2e;
    justify-content: space-around;
}

.menu-secundario-container a {
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: center;
    padding: 15px;
}

.menu-secundario-container a:hover{
    background-color: lightseagreen;
    box-shadow: 0px 2px 15px rgb(126, 126, 126);
}

.contenido-container {
    background-color: white;
    padding-top: 25px;
    padding-bottom: 20px;
}

.seccion-secundaria {
    display: flex;
    padding: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.video-informatico {
    text-align: center;
}

.footer-container {
    display: flex;
    color: gray;
    padding: 50px;
    border-top: 4px solid rgb(42, 131, 126);
    background-color: #242b2e;

}
.footer-container div {
    width: 33%;
}

.footer-container div ul{
    text-decoration: none;
    list-style: none;
    text-align: left;
    font-size: 15px;
}

.footer-container div ul li{
    padding: 6px;
}

.footer-container h2 {
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid rgb(42, 131, 126);
    margin: 20px;
    box-shadow: 0px 2px 7px rgb(0, 0, 0);
    padding: 5px;
}

.listado-redes {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.listado-redes img {
    margin-right: 10px;
}

.logo-git {
    display: flex;
    justify-content: space-around;
    
}

.imagen-inicio {
    display: flex;
    justify-content: center;
    width: 100%;
}

.imagen-inicio img {
    box-shadow: 0px 2px 15px rgb(0, 0, 0, .25);
}

.texto-articulo-inicio {
    padding: 15px;
    margin-left: 20px;
    color:#1a635f;
    font-weight: normal;
    font-size: 18px;
}

.imagen-abdominales{
    width: 33%;
}

.imagen-abdominales img{
    box-shadow: 0px 2px 15px rgb(0, 0, 0, .25);
    width: 100%;
}

.video-informatico iframe{
    height: auto;
    width: auto;
}

.texto-articulo {
    width: 66%;
    padding: 15px;
    margin-left: 20px;
    color:#1a635f;
    font-weight: normal;
    font-size: 18px;
}

.titulo-seccion {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-bottom: 4px double rgb(42, 131, 126);
    color: lightseagreen;
}

.imagen-dieta {
    height: 100%;
    width: 100%;
}

.seccion-secundaria {
    display: flex;
    align-items: flex-start;
}

.volver-inicio {
    text-align: center;
    padding-bottom: 5px;
}

.volver-inicio a {
    background-color: rgb(230, 230, 230);
    color: gray;
    border-radius: 15px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

.imagen-lista-admin {
    height: auto;
    width: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .sr-only {
        display: none;
    }
    .menu-items-container {
        flex-direction: column;
        border: 0px;
        background-color: #242b2e00;
    }
    .menu-items-container img{
        display: none;
    }
    .titulo-principal{
        margin: auto;
        padding-top: 15px;
    }
    .titulo-principal h1 {
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .menu-principal-container{
        width: 100%;
        padding-top: 0px;
    }
    .menu-secundario-container {
        flex-direction: column;
    }
    .pagina-actual {
        border-radius: 0px;
    }
    .menu-y-titulo {
        flex-direction: column;
        padding-right: 0px;
        border: 0px;
    }

    .estadisticas-covid {
        flex-direction: column;
    }

    .cont-estadis {
        width: auto;
    }
}

@media (max-width: 1230px) {
    .general-container {
        width: 90%;
    }

    .imagen-abdominales {
        width: 69%;
    }
    
    .texto-articulo {
        width: 80%;
    }
}

@media (max-width: 1100px) {
    .general-container {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .menu-items-container img{
        display: none;
    }
    .titulo-principal {
        width: 40%;
    }
    .footer-container {
        flex-direction: column;
    }
    .footer-container div{
        width: 100%;
    }
    .footer-container div ul {
        text-align: center;
        padding: 0px;
    }
    .seccion-secundaria {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .imagen-abdominales {
        width: 90%;
    }
    
    .texto-articulo {
        width: 100%;
    }
}






