body {
    background-color: rgb(42, 131, 126);
}

.general-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 75%;
    box-shadow: 0px 2px 20px rgb(63, 63, 63);
}
header {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.pagina-actual {
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
}
.titulo-principal {
    font-weight: bolder;
    padding-left: 50px;
    padding-top: 5px;
    width: 30%;
}
.titulo-secundario {
    display: flex;
    color: rgb(104, 104, 104);
    padding-left: 50px;
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgb(42, 131, 126);
}

.titulo-secundario h2{
    font-size: 25px;
}
.menu-y-titulo {
    display: flex;
    padding-right: 30px;
}
.menu-principal-container {
    padding-bottom: 10px;
    width: 70%;
}

.menu-items-container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    align-items: center;
}
.menu-items-container a {
    text-decoration: none;
    font-weight: bolder;
    color: rgb(48, 48, 48);
    padding: 10px;
    width: 25%;
    border-bottom: 2px solid rgb(255, 255, 255);
}
.menu-items-container a:hover {
    /*
    background-color: rgb(108, 184, 180);*/
    color: lightseagreen;
    border-bottom: 2px solid lightseagreen;
    /*
    box-shadow: 0px 2px 7px rgb(104, 104, 104);*/
}

.carousel-control-next:hover {
    background-color: rgb(172, 172, 172);
}

.carousel-control-prev:hover {
    background-color: rgb(172, 172, 172);
}

.menu-secundario-container {
    display: flex;
    background-color: #242b2e;
    justify-content: space-around;
    /*
    border-radius: 7px;*/
}

.menu-secundario-container a {
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: center;
    padding: 15px;
}

.menu-secundario-container a:hover{
    background-color: lightseagreen;
    box-shadow: 0px 2px 15px rgb(126, 126, 126);
}

.contenido-container {
    background-color: white;
    padding-top:25px;
}

.seccion-secundaria {
    display: flex;
    padding: 70px;
    padding-top: 25px;
    padding-bottom: 25px;/*
    border-bottom: 5px ridge lightseagreen;*/
}
.video-informatico {
    text-align: center;
}

.footer-container {
    display: flex;
    background-color: #242b2e;
    color: gray;
    padding: 50px;
    border-top: 4px solid rgb(42, 131, 126);
}
.footer-container div {
    width: 33%;
}

.footer-container div ul{
    text-decoration: none;
    list-style: none;
    text-align: left;
    font-size: 15px;
}

.footer-container div ul li{
    padding: 6px;
}

.footer-container h2 {
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid rgb(42, 131, 126);
    margin: 20px;
    box-shadow: 0px 2px 7px rgb(0, 0, 0);
    padding: 5px;
}
.listado-redes {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.listado-redes img {
    margin-right: 10px;
}

.logo-git {
    display: flex;
    justify-content: space-around;
    
}

.imagen-abdominales{
    display: flex;
    justify-content: center;
    /*border: 2px solid lightseagreen;*//*
    box-shadow: 0px 2px 7px rgb(104, 104, 104);*/
}

.imagen-abdominales img{
    box-shadow: 0px 2px 7px rgb(104, 104, 104);
}

.video-informatico iframe{
    height: auto;
    width: auto;
}

.texto-articulo {
    padding: 15px;
    color:#1a635f;
}

.titulo-seccion {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-bottom: 4px double rgb(42, 131, 126);
    color: lightseagreen;
}

.seccion-secundaria {
    display: flex;
    align-items: flex-start;
}

@media (max-width: 768px) {
    .menu-items-container {
        flex-direction: column;
    }
    .menu-items-container img{
        display: none;
    }
    .menu-items-container a{
        width: 100%;
    }
    .titulo-principal {
        text-align: center;
        padding-left: 0px;
        width: 100%;
        margin: auto;
    }
    .menu-principal-container{
        width: 100%;
    }
    .menu-secundario-container {
        flex-direction: column;
    }
    .menu-secundario-container a{
        width: 100%;
    }
    .seccion-secundaria {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .menu-y-titulo {
        flex-direction: column;
        padding-right: 0px;
    }

}

@media (max-width: 1230px) {
    .general-container {
        width: 90%;
    }
}

@media (max-width: 1100px) {
    .general-container {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .menu-items-container img{
        display: none;
    }
    .titulo-principal {
        width: 40%;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-container div{
        width: 100%;
    }

    .footer-container div ul {
        text-align: center;
    }

    .footer-container div ul{
        padding: 0px;
    }
    /*
    .menu-items-container {
        display: none;
    }
    .dropdown {
        width: 100%;
    }*/
}

@media (min-width: 950px) {
    /*
    .dropdown {
        display: none;
        background-color: lightgray;
        
    }*/
}





